body {
    font-family: "Quicksand", sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    background: #7f7fd5;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
  }
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
.card__header{
    cursor: pointer;
    opacity: 0.7;
}
.card__header:hover{
    opacity: 1;
}
  .left {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  box-shadow: 4px 7px 4px 7px rgba(53, 55, 56, 0.198);
  }
  .p1{
      letter-spacing: 0.4px;
      line-height: 0.6;
      font-size: 20px;
      color:#ECE9E6;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  .card__body h4 {
    margin-top: 1px;
    font-size: 1.8rem;
    font-family: sans-serif;
    text-transform: capitalize;
  }
  .card__footer1 {
    display: flex;
    padding: 1rem;
    justify-content: right;
    margin-top: auto;
  }
  i{
      margin: 0px 0px;
      text-align: center;
      font-size: 17px;
      letter-spacing: 0.4px;
      line-height: 1.6;
      color: #646161;
      font-weight:600; 
  }
  .card__footer1 a{
    cursor: pointer;
 text-decoration: none;
color:#6bd1cb;
font-weight:700; 
  }
  .gallery {
    --g: 8px;   /* the gap */
    --s: 400px; /* the size */
    
    display: grid;
  }
  .gallery > img {
    grid-area: 1/1;
    width: 400px;
    aspect-ratio: 1;
    object-fit: cover;
    transform: translate(var(--_x,0),var(--_y,0));
    cursor: pointer;
    z-index: 0;
    transition: .3s, z-index 0s .3s;
  }
  .gallery img:hover {
    --_i: 1;
    z-index: 1;
    transition: transform .2s, clip-path .3s .2s, z-index 0s;
  }
  .gallery:hover img {
    transform: translate(0,0);
  }
  .gallery > img:nth-child(1) {
    clip-path: polygon(50% 50%,calc(50%*var(--_i,0)) calc(120%*var(--_i,0)),0 calc(100%*var(--_i,0)),0 0,100% 0,100% calc(100%*var(--_i,0)),calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
    --_y: calc(-1*var(--g))
  }
  .gallery > img:nth-child(2) {
    clip-path: polygon(50% 50%,calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100% - 100%*var(--_i,0)) 0,100% 0,100% 100%,calc(100% - 100%*var(--_i,0)) 100%,calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
    --_x: var(--g)
  }
  .gallery > img:nth-child(3) {
    clip-path: polygon(50% 50%,calc(100% - 50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)),100% calc(100% - 120%*var(--_i,0)),100% 100%,0 100%,0 calc(100% - 100%*var(--_i,0)),calc(50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)));
    --_y: var(--g)
  }
  .gallery > img:nth-child(4) {
    clip-path: polygon(50% 50%,calc(120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100%*var(--_i,0)) 0,0 0,0 100%,calc(100%*var(--_i,0)) 100%,calc(120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
    --_x: calc(-1*var(--g))
  }
